@media screen and (max-width: 575px) {
    header {
        .header-container {
            .header-logo {
                margin-bottom: 20px;
                padding: 10px 0;
                img {
                    max-width: 130px;
                }
                
                .btn-open {
                    span,
                    span::before,
                    span::after {
                        width: 25px;
                        height: 2px;
			        }
                }
            }
        }
    }

    .header.open {
        .header-mobile {
            padding: 0 15px 10px;
            .header-list {
                flex-direction: column;
                li {
                    margin: 0 0 12px;
                }
            }
        }
    }
}
