header {
    position: absolute;
	width: 100%;
	background: transparent;
}
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-around;

	
	
	.header-logo {
		cursor: pointer;
		margin: 0 80px;
		a {
			transform: rotateY(0deg);
			transition: all 0.7s ease-in-out;
			img {
				width: 100%;
				max-width: 310px;
			}
		}
		.btn-open {
			display: none;
			border: none;
			width: min-content;
			height: 29px;
			background: transparent;
			cursor: pointer;

			span {
				position: relative;
				display: block;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					top: 10px;
				}
		
				&::before {
					content: "";
					position: absolute;
					left: 0;
					bottom: 10px;
				}
			}
			span,
			span::before,
			span::after {
				background: #fea2a1;
				width: 30px;
				height: 3px;
				transition: all 0.5s ease-in-out;
			}
		}
	}

	
}
.header-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	li {
		margin-right: 45px;
		text-decoration: none;
		font-weight: 500;
		font-size: 16px;
		text-align: center;
		color: #FFFFFF;
		background-image: linear-gradient(rgb(254 162 161) 10%, currentColor);
		background-position: 0% 100%;
		background-repeat: no-repeat;
		background-size: 0% 1px;
		transition: background-size 0.3s;
		&:hover {
			background-size: 100% 1px;
		}
		&:last-child {
			margin-right: 0;
		}
		a {
			text-decoration: none;
			background: rgb(0,0,0);
			background: linear-gradient(110deg, #fea2a1 10%, #000000 13%, #ffffff 15%, #ffffff 99%);			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			background-position: 40%;
			background-size: 200%;
			transition: 0.5s;
			cursor: pointer;
			&:hover {
				background-position: -100%;
			}
		}
	}
}

.header-mobile {
	display: none;
	height: 0;
	
}