.family-block {
    display: flex;
    align-items: center;
    padding: 18px 0;
    &_imgs {
        margin-right: 84px;
        position: relative;
        .family-img {
            position: relative;
        }
        .red-coral {
            position: absolute;
            bottom: -66px;
            left: -107px;
        }

        .yelow-coral {
            position: absolute;
            bottom: -46px;
            right: -108px;
            z-index: -1;
        }
    }
    &_text {
        .title {
            background: linear-gradient(180deg, #7D20F4 -34.75%, #FECD6F 125.42%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    }
}

.star-block {
    background-image: url(assets/img/star-block_bg.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 90px 0;
    .container {
        display: flex;
        justify-content: left;
    }
    .star-block_text {
        max-width: 676px;

        p {
            font-size: 16px;
            font-weight: 500;
            color: #ffffff;
        }
    }
    .star-block_img {
        position: absolute;
        top: -151px;
        right: 0;
        
        .star-img {
            position: relative;
            z-index: 1;
        }
        .star_yelow-coral {
            width: 600px;
            position: absolute;
            top: -40px;
            right: 143px;
            transform: rotate(322deg);
            
        }
        .star_red-coral {
            width: 600px;
            position: absolute;
            bottom: -69px;
            left: 89px;
            transform: rotate(138deg);
        }

    }
}