<section class="dolphin-block">
    <div class="container">
        <div class="dolphin-block_text">
            <h2 class="title">Reef universe</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
            </p>
            <button class="btn">button</button>
        </div>
        <div class="dolphin-block_img">
            <img class="dolphin-img" src="assets/img/dolphin.png" alt="dolphin">
        </div>
    </div>
    <div class="dolphin_red-coral_block">
        <img class="dolphin_red-coral paralax" data-rellax-speed="8"  src="assets/img/rose-big-coral.png" alt="">
    </div>
    <img class="dolphin_yelow-coral paralax" data-rellax-speed="3" data-rellax-zindex="2" src="assets/img/yelow-big-coral.png" alt="">
</section>