<section class="faq">
    <div class="container">
        <h3 class="title">заголовок</h3>
        <div class="accordion">
            <div class="accordion-item">
                <div class="accordion-title">
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, fuga.</h5>
                    <button type="button" class="accordion-btn"></button>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur suscipit architecto numquam praesentium. Totam molestias nostrum voluptatem blanditiis ex? Alias dolores ducimus qui, quibusdam ipsum distinctio corporis aut accusamus inventore quos consequuntur? Fuga qui ea, eius sapiente eveniet molestias officia, laboriosam impedit aperiam unde, aspernatur delectus perferendis reprehenderit est.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-title">
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, fuga.</h5>
                    <button type="button" class="accordion-btn"></button>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur suscipit architecto numquam praesentium. Totam molestias nostrum voluptatem blanditiis ex? Alias dolores ducimus qui, quibusdam ipsum distinctio corporis aut accusamus inventore quos consequuntur? Fuga qui ea, eius sapiente eveniet molestias officia, laboriosam impedit aperiam unde, aspernatur delectus perferendis reprehenderit est.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-title">
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, fuga.</h5>
                    <button type="button" class="accordion-btn"></button>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur suscipit architecto numquam praesentium. Totam molestias nostrum voluptatem blanditiis ex? Alias dolores ducimus qui, quibusdam ipsum distinctio corporis aut accusamus inventore quos consequuntur? Fuga qui ea, eius sapiente eveniet molestias officia, laboriosam impedit aperiam unde, aspernatur delectus perferendis reprehenderit est.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-title">
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, fuga.</h5>
                    <button type="button" class="accordion-btn"></button>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur suscipit architecto numquam praesentium. Totam molestias nostrum voluptatem blanditiis ex? Alias dolores ducimus qui, quibusdam ipsum distinctio corporis aut accusamus inventore quos consequuntur? Fuga qui ea, eius sapiente eveniet molestias officia, laboriosam impedit aperiam unde, aspernatur delectus perferendis reprehenderit est.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-title">
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, fuga.</h5>
                    <button type="button" class="accordion-btn"></button>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur suscipit architecto numquam praesentium. Totam molestias nostrum voluptatem blanditiis ex? Alias dolores ducimus qui, quibusdam ipsum distinctio corporis aut accusamus inventore quos consequuntur? Fuga qui ea, eius sapiente eveniet molestias officia, laboriosam impedit aperiam unde, aspernatur delectus perferendis reprehenderit est.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-title">
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, fuga.</h5>
                    <button type="button" class="accordion-btn"></button>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur suscipit architecto numquam praesentium. Totam molestias nostrum voluptatem blanditiis ex? Alias dolores ducimus qui, quibusdam ipsum distinctio corporis aut accusamus inventore quos consequuntur? Fuga qui ea, eius sapiente eveniet molestias officia, laboriosam impedit aperiam unde, aspernatur delectus perferendis reprehenderit est.
                </div>
            </div>
            <div class="accordion-item">
                <div class="accordion-title">
                    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae, fuga.</h5>
                    <button type="button" class="accordion-btn"></button>
                </div>
                <div class="accordion-content">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias aspernatur suscipit architecto numquam praesentium. Totam molestias nostrum voluptatem blanditiis ex? Alias dolores ducimus qui, quibusdam ipsum distinctio corporis aut accusamus inventore quos consequuntur? Fuga qui ea, eius sapiente eveniet molestias officia, laboriosam impedit aperiam unde, aspernatur delectus perferendis reprehenderit est.
                </div>
            </div>
        </div>
    </div>
</section>