<header>
    <div class="container">
        <div class="header-container">
            <ul class="header-list">
                <li>Team</li>
                <li>Raibow Reef</li>
                <li>Reef Universe</li>
            </ul>
            <div class="header-logo">
                <img src="/assets/img/logo.png" alt="logo">
            </div>
            <ul class="header-list">
                <li>NFT</li>
                <li>Ambassador</li>
                <li>Road Map</li>
                <li>FAQ</li>
            </ul>
        </div>
    </div>
</header>

