<header id="header-height" class="header">
    <div class="container">
        <div class="header-container">
            <ul class="header-list">
                <li><a href="#">Team</a></li>
                <li><a href="#">Raibow Reef</a></li>
                <li><a href="#">Reef Universe</a></li>
            </ul>
            <div class="header-logo">
                <a href="#"><img src="assets/img/logo.png" alt="logo"></a>
                <button class="btn-open">
                    <span></span>
                </button>           
            </div>
            <ul class="header-list">
                <li><a href="#">NFT</a></li>
                <li><a href="#">Ambassador</a></li>
                <li><a href="#">Road Map</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div class="header-mobile">
        <ul class="header-list">
            <li><a href="#">Team</a></li>
            <li><a href="#">Raibow Reef</a></li>
            <li><a href="#">Reef Universe</a></li>
            <li><a href="#">NFT</a></li>
            <li><a href="#">Ambassador</a></li>
            <li><a href="#">Road Map</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
</header>

