<section class="steps">
    <div class="container">
        <h2 class="title">Reef title</h2>
        <div class="steps-container">
            <div class="steps-info">
                <p>Створення колекції унікальних NFT</p>
                <p>Розробка веб-сайту, смарт-контракту, запуск маркетингової програми</p>
                <p>Проведення Airdrop</p>
                <p>Запуск програми Ambasador</p>
                <p>Партнерство з провідними ВНЗ, Фондами та технологічними стартапами у сфері розробки та впровадження (інклюзії)</p>
                <p>Розробка та запуск App Reef Univers, роздача винагород власникам NFT згідно статусу</p>
                <p>Проведення Pre sale </p>
                <p>Колаборації із цифровими художниками</p>
                <p>Оновлення сайту та смарт-контракту, запуск краутфаундингової платформи та грантових програм для інклюзивних проектів</p>
                <p>Проведення NFT sale</p>
                <p>Запуск DAO - випуск токена управління</p>
                <p>Проведення голосування щодо подальшого розвитку проекту</p>
            </div>
            <div class="steps-border">
                <img src="assets/img/scroll-star.png" alt="">
            </div>
        </div>
    </div>
    <img class="pies-yellow_coral paralax" data-rellax-speed="5" src="assets/img/pies-yellow_coral.png" alt="">
    <img class="pies-red_coral paralax" data-rellax-speed="8" src="assets/img/pies-red_coral.png" alt="">
</section>